H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#mastHeadContainer {
	FONT-SIZE: 1.1em
}
#secondaryNavigation {
	FONT-SIZE: 1.1em
}
#tertiaryNavigation {
	FONT-SIZE: 1.1em
}
#footerContainer {
	FONT-SIZE: 1.1em
}
#primaryContent P {
	FONT-SIZE: 1.1em
}
#contentWrap {
	FONT-SIZE: 1.1em
}
.rhsModulesWrap {
	FONT-SIZE: 1.1em
}
#breadCrumbs {
	FONT-SIZE: 1.1em
}
.paginationWrap {
	FONT-SIZE: 1.1em
}
.summaryResult P {
	FONT-SIZE: 1.1em
}
.alsoCheckOut {
	FONT-SIZE: 1.1em
}
SPAN.date {
	FONT-SIZE: 1.1em
}
.galleryModuleWrap .galleryPagination {
	FONT-SIZE: 1.1em
}
#supportingContent P {
	FONT-SIZE: 1.1em
}
#supportingContent LI {
	FONT-SIZE: 1.1em
}
.splitModuleBg P {
	FONT-SIZE: 1.1em
}
.splitModuleBgLargerBoxes P {
	FONT-SIZE: 1.1em
}
#formWrap TABLE {
	FONT-SIZE: 1.1em
}
#formWrap INPUT.inputTxtField {
	FONT-SIZE: 1.1em
}
#formWrap SELECT {
	FONT-SIZE: 1.1em
}
#formWrap .textArea {
	FONT-SIZE: 1.1em
}
#genericWrapper {
	FONT-SIZE: 1.1em
}
#primaryContent P {
	MARGIN-BOTTOM: 14px
}
#featuredArticle P {
	FONT-SIZE: 1.2em
}
#homeFeaturedNewsItem P {
	FONT-SIZE: 1.2em
}
#footerContainer P {
	MARGIN: 0px auto 10px;
	WIDTH: 730px;
	COLOR: #000
}
SPAN.searchResultLink {
	COLOR: #a7a7a7
}
#contentWrap P {
	FONT-SIZE: 1em
}
#pageHeader H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 25px; FONT-SIZE: 2.6em; PADDING-BOTTOM: 0px; COLOR: #ffffff; PADDING-TOP: 27px
}
.largeFontSizeCopy {
	FONT-SIZE: 1.1em
}
#primaryContent H1 {
	FONT-SIZE: 2.6em; MARGIN-BOTTOM: 15px; PADDING-BOTTOM: 10px; COLOR: #bf3b07; LINE-HEIGHT: 1.1em; BORDER-BOTTOM: #b74000 1px solid
}
#primaryContentContainerWide H1 {
	FONT-SIZE: 2.6em; MARGIN-BOTTOM: 15px; PADDING-BOTTOM: 10px; COLOR: #bf3b07; LINE-HEIGHT: 1.1em; BORDER-BOTTOM: #b74000 1px solid
}
#primaryContent H1 A {
	COLOR: #bf3b07; TEXT-DECORATION: none
}
#primaryContentContainerWide H1 A {
	COLOR: #bf3b07; TEXT-DECORATION: none
}
#primaryContent H1 A:hover {
	TEXT-DECORATION: underline
}
#primaryContentContainerWide H1 A:hover {
	TEXT-DECORATION: underline
}
#primaryContent H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.6em; MARGIN: 0px 0px 10px 10px
}
#primaryContentContainerWide H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.5em; MARGIN: 0px 0px 10px 10px
}
#primaryContent H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.4em; COLOR: #bf3b07
}
#primaryContentContainerWide H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.4em; COLOR: #bf3b07
}
#primaryContent H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.2em; COLOR: #bf3b07
}
#primaryContentContainerWide H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.2em; COLOR: #bf3b07
}
#searchModuleBox H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.3em; MARGIN: 0px 0px 5px
}
.rhsModulesHeading H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.1em; COLOR: #ffffff
}
#primaryContent .rhsModulesHeading H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.1em; COLOR: #ffffff
}
#siteMapWrap H1 {
	FONT-SIZE: 2.4em
}
#searchResultsWrap H1 {
	FONT-SIZE: 2.4em
}
#primaryContent #contentWrap #searchResultsWrap H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.3em; MARGIN: 0px
}
#primaryContent #contentWrap H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 2em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 12px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#primaryContent #contentWrap #searchResultsWrap H1 {
	PADDING-BOTTOM: 10px; MARGIN: 0px 0px 20px; BORDER-BOTTOM: #b74000 1px solid
}
#primaryContent #contentWrap H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1.45em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 12px; COLOR: #bf3b07; PADDING-TOP: 0px
}
#primaryContent #contentWrap H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 1.3em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 12px; PADDING-TOP: 0px
}
#primaryContent #contentWrap H4 {
	FONT-SIZE: 1.2em; COLOR: #000
}
#primaryContent #contentWrap H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.1em
}
#primaryContent #articleCopyWrap H1 {
	FONT-SIZE: 2.2em
}
#activeContact H1 {
	MARGIN: 0px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#primaryContentContainerWide #contactsMapWrap H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 8px; TEXT-ALIGN: center
}
#primaryContent #articleCopyWrap H1 {
	MARGIN-BOTTOM: 8px; PADDING-BOTTOM: 0px; BORDER-BOTTOM-STYLE: none
}
#primaryContent #homeFeaturedNewsItem H1 {
	MARGIN-BOTTOM: 8px; PADDING-BOTTOM: 0px; BORDER-BOTTOM-STYLE: none
}
#primaryContent #supportingContent H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/homepageHeroH2bg.gif) no-repeat left bottom; PADDING-BOTTOM: 12px; MARGIN: 0px 0px 8px; COLOR: #ffffff; PADDING-TOP: 0px
}
.rhsModulesContent H5 {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 1em; BACKGROUND: url(../images/orangeArrow.gif) no-repeat 0px 3px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 2px; PADDING-TOP: 1px
}
.rhsModulesContent H5 A {
	TEXT-DECORATION: none
}
.rhsModulesContent H5 A:hover {
	TEXT-DECORATION: underline
}
.rhsModulesContent CITE {
	DISPLAY: block; MARGIN: 2px 0px 0px; COLOR: #555555; FONT-STYLE: normal
}
#additionalArticleBoxes .contactBox H4 {
	MARGIN: 0px 0px 10px; COLOR: #000000
}
.contentNested H4 {
	MARGIN: 0px 0px 10px; COLOR: #000000
}
.contentNested H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 1.4em; MARGIN: 0px 0px 8px
}
#primaryContent .moreLinksBox H4 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(../images/moreLinksBoxH4Bg.gif) #a3360d repeat-x left top; PADDING-BOTTOM: 3px; COLOR: #ffffff; PADDING-TOP: 3px
}
#galleryPromoBox H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 12px; FONT-WEIGHT: bold; FONT-SIZE: 1.4em; BACKGROUND: url(../images/orangeArrow.gif) no-repeat 0px 6px; PADDING-BOTTOM: 5px; PADDING-TOP: 0px
}
#galleryPromoBoxSmaller H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 12px; FONT-WEIGHT: bold; FONT-SIZE: 1.4em; BACKGROUND: url(../images/orangeArrow.gif) no-repeat 0px 6px; PADDING-BOTTOM: 5px; PADDING-TOP: 0px
}
#galleryPromoBox H3 A {
	TEXT-DECORATION: none
}
#galleryPromoBoxSmaller H3 A {
	TEXT-DECORATION: none
}
#galleryPromoBox H3 A:hover {
	TEXT-DECORATION: underline
}
#galleryPromoBoxSmaller H3 A:hover {
	TEXT-DECORATION: underline
}
#primaryContent .galleryModule H4 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 1.1em; BACKGROUND: url(../images/galleryH4gradient.gif) repeat-x left top; PADDING-BOTTOM: 6px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 6px; TEXT-ALIGN: center
}
#primaryContent .articleMedia H4 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 1.1em; BACKGROUND: url(../images/galleryH4gradient.gif) repeat-x left top; PADDING-BOTTOM: 6px; MARGIN: 0px; COLOR: #000000; PADDING-TOP: 6px; TEXT-ALIGN: center
}
#primaryContent .articleMedia H4 {
	FONT-SIZE: 1em
}
#primaryContent #contentWrap .articleMedia H4 {
	FONT-SIZE: 1em
}
#primaryContentContainerWide .contactModule {
	FONT-SIZE: 1.1em
}
#primaryContentContainerWide .contactModule H3 {
	FONT-SIZE: 1.3em
}
#primaryContentContainerWide .contactModule H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 1em
}
#primaryContentContainerWide .contactModule SPAN {
	DISPLAY: block
}
#siteMapWrap H3 {
	MARGIN-BOTTOM: 5px
}
#formWrap .textArea {
	FONT-SIZE: 1em
}
SPAN.date {
	FONT-WEIGHT: bold
}
SPAN.blackTxt {
	COLOR: #000000
}
A {
	COLOR: #000000
}
A:hover {
	TEXT-DECORATION: none
}
#primaryContent H3 A {
	COLOR: #bf3b07; TEXT-DECORATION: none
}
#primaryContent H4 A {
	COLOR: #bf3b07; TEXT-DECORATION: none
}
#primaryContent H3 A:hover {
	COLOR: #bf3b07; TEXT-DECORATION: underline
}
#primaryContent H4 A:hover {
	COLOR: #bf3b07; TEXT-DECORATION: underline
}
